@import './theme/dark.css';
@import './theme/green.css';
@import './theme/red.css';

@theme {
  --color-background: var(--color-zinc-100);
  --color-foreground: var(--color-zinc-900);

  --color-card: var(--color-white);

  --color-primary: var(--color-blue-500);
}
